#header{
    width: 100%;
    float: left;
    text-align: left;
    padding: 10px;
    padding-left: 100px;
    margin: 0px;
    margin-bottom: 20px;
}

#footer{
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 0px;

}

.spacer{
    height: 80px;
}

.errorSpan{
    color: orangered
}